## DAC(DSA): Recap to Python - Part 2
### Exploratory Data Analysis

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

## Step Process
1. Load Data
2. Inspect Data
3. Clean Data (if needed)
4. Explore + Visualise Data
5. Derive insights from Data Exploration/Visualisation

### Example 1: Forbes 2022 Dataset on Billionaires|

#### 1. Load Data

In [ ]:
%pip install gdown
import gdown

def download_from_gdrive(file_id, output_name):
    url = f'https://drive.google.com/uc?id={file_id}'
    gdown.download(url, output_name, quiet=False)
    
forbes_id = '1M87zZudeEPAPQ-47_Tg-cFpUikrGH9eX'
forbes_output = '2022_forbes_billionaires.csv'
download_from_gdrive(forbes_id, forbes_output)

forbes = pd.read_csv('2022_forbes_billionaires.csv')
forbes

#### 2. Inspect Data

In [ ]:
forbes.duplicated() #If True, means duplicate

In [ ]:
forbes.duplicated().sum()

In [ ]:
forbes.isnull().sum()

In [11]:
#if has null value
#forbes.dropna()

In [ ]:
#Check data type, see if the type makes sense
forbes.info()

#### 3. Clean Data

In [ ]:
#Dtype is object indicates a generic type that can represent any Python object, including string, numbers..
#for a dataframe in pandas, it usually represents string

#Replace the $ and B with empty string
#str.replace(oldvalue,newvalue,count)
forbes['networth'] = forbes['networth'].str.replace('$','')
forbes['networth'] = forbes['networth'].str.replace('B','')

#OR
'''
"\$(\d+).*" - is a regex string that is pattern to find its mathing text

Each character has its own Expression. Eg: '\d' is a expression for any digit , '+' is to find one or more  , '.' is any single character

"https://regex101.com/" , you can use this site to test out regular expression as well as more information

'''
#forbes['networth'] = forbes['networth'].str.extract(r'\$(\d+).*')

#Change type to numeric
forbes['networth'] = pd.to_numeric(forbes['networth'])
#OR forbes['networth'] = forbes['networth'].apply(pd.to_numeric)

#### 4. Explore Data

In [ ]:
forbes.head()

In [ ]:
# Finding the industry with the highest number of billionaires
#value_counts() counts the frequency of unique values in specific columns of a dataframe
forbes['industry'].value_counts().sort_index()

In [ ]:
# To display the top 5 industries with the most number of billionaires
forbes['industry'].value_counts()[:5]

In [ ]:
# show the number of billionaires in each industry with bar chart
forbes['industry'].value_counts().plot(kind = 'bar')

plt.show()

In [ ]:
forbes['industry'].value_counts().plot(kind = 'barh') #Horizontal bar
plt.show()

In [ ]:
forbes['industry'].value_counts()[:5].plot(kind = 'barh')
plt.show()

In [ ]:
# Finding the country with the highest number of billionaires

forbes['country'].value_counts()

In [ ]:
#display the top 3 countries with the most billionaries
forbes['country'].value_counts()[0:3]

In [ ]:
forbes['country'].value_counts()[0:5].plot(kind = 'bar')

plt.show()

In [ ]:
# Find the billionaires with networth more than 60 billion dollars
#To filter a dataframe base on a condition, we need to use dataframe[condition] where the condition is a boolean expression
#condition=forbes['networth']>=60,True-more than or equal 60, False-less than 60
forbes[forbes['networth'] >= 60]

# OR

forbes.query('networth >= 60 ')

# Find the top 5 youngest billionaires

In [ ]:
# rearrange the dataframe by ascending or descending order of specific column
#parameter of sort_values: by-specify label to sort by, axis:0 or 1, ascending:True or False
forbes.sort_values(by=['age'])

In [ ]:
forbes.sort_values(by = ['age'])[:5]

In [ ]:
# Finding the top 5 youngest people who have networth of more than 50 billion
forbes_more_50 = forbes[forbes['networth'] >= 50]

#Or
forbes_more_50 = forbes.query('networth >= 50')

forbes_more_50

In [ ]:
forbes_more_50.sort_values(by = ['age'])[0:5]

In [ ]:
#Using the method we used previously
fig, ax = plt.subplots(figsize = (10,10))
ax.hist(forbes.networth, bins = 20, edgecolor = 'black', color = 'yellow') 
# the higher the bin, the closer it is to the distribution plot which will be explained later
plt.show() #Notice the graphs are still similar to each other

##### Data Visualisation - Distribution Plot
- Shows how a variable in your data is distributed

# Distribution Plot

> parameter:
* data: dataframe name
* x,y,hue: variable name
* kind:{“hist”, “kde”, “ecdf”} hist by default, same as histplot(), kdeplot(), ecdfplot(univariate data only)
* color, palette, height...

1.   kernel density estimation:KDE represents the data using a continuous probability density curve, more smooth
2.    empirical cumulative distribution function: represents the proportion or counts of observations

In [ ]:
#Distribution plot of the age variable
sns.displot(x = 'age', data = forbes)
plt.show()

In [ ]:
sns.displot(x = 'age',hue='industry',kind='ecdf', data = forbes, stat='count',complementary=True)
plt.show()

Observation from dataset:
1. Most saturated industry/best industry (Finance & Investments)
2. Country with the most opportunity (US) - may be too saturated
3. Who to learn from (THose that really made it)
4. Probable age for someone to get really rich (50-70 years old)

### Example 2: Annual Sales 2018 Data

#### 1. Load Data

In [ ]:
data_id = '1S6rk62YIKLeX4DTUd-l5ImfNG9ZaoYhR'
data_output = '2018_Annual_Sales.csv'
download_from_gdrive(data_id, data_output)

data = pd.read_csv('2018_Annual_Sales.csv')
data.head()

#### 2. Inspect Data

In [ ]:
data.info()

#### 3. Clean Data

In [ ]:
#Remove rows with missing values
df = data.dropna()

#Convert 'Quantity Ordered' and 'Price Each' to numeric
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'], errors='coerce')
df['Price Each'] = pd.to_numeric(df['Price Each'], errors='coerce')

#Convert 'Order Date' column into datetime type
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')

#Remove any duplicate rows
df = df.drop_duplicates()

df.info()

In [ ]:
df.head()

#### 4. Explore Data

In [ ]:
# series.dt can be used to access the values of the series as datetimelike and return several properties
#dt.year will return year, dt.weekday will return the day of week
df['Year'] = df['Order Date'].dt.year
df.head()

In [ ]:
#Which month had the best sales?
df['Month'] = df['Order Date'].dt.month
df.head()

In [ ]:
#creat a new column called Sale
df['Sales'] = df['Price Each']*df['Quantity Ordered']
df.head()

In [ ]:
#Extract month from 'Order Date'
df['Month'] = df['Order Date'].dt.month

#Group by 'Month'
groupby_month = df.groupby('Month')

#Sum sales for each month
gross_sales_by_month = groupby_month['Sales'].sum().sort_values()

#Display result
print(gross_sales_by_month)

In [ ]:
#here Month is index label not variable
gross_sales_by_month.index

#### Data Visualisation

In [ ]:
#Data Visualisation
plt.bar(gross_sales_by_month.index, gross_sales_by_month)
plt.show()

In [ ]:
def city_from_address(address):
    try:
        # Split the address by commas
        substrs = address.split(',')
        
        # Ensure there are at least 2 parts (city is the second part)
        if len(substrs) >= 2:
            city = substrs[1].strip()
        else:
            city = None  # Return None if the format is unexpected
    except Exception as e:
        city = None  # If something goes wrong, return None
    
    return city

# Apply the function to create a new 'City' column
df['City'] = df['Purchase Address'].apply(city_from_address)

# Check the first few rows of the dataframe
df.head()

In [ ]:
# Group by city
groupby_city = df.groupby('City')

# Sum only the 'Sales' column for each city
gross_sales_by_city = groupby_city['Sales'].sum()

# Display the result
print(gross_sales_by_city)

In [ ]:
plt.bar(gross_sales_by_city.index,gross_sales_by_city)

plt.xticks(rotation = 90)
plt.show()

In [ ]:
#Which city makes the best sales across all 12 months

#Extract month from 'Order Date' if not already done
df['Month'] = df['Order Date'].dt.month

#Group by both 'Month' and 'City' and sum the 'Sales' column
groupby_data = df.groupby(['Month', 'City'])['Sales'].sum()

#Display the result
print(groupby_data)

In [ ]:
#Sum sales by city across all months
total_sales_by_city = groupby_data.groupby('City').sum()

#Sort cities by total sales and find the city with the highest sales
best_city = total_sales_by_city.sort_values(ascending=False).head(1)

#Display the result
print(best_city)

In [ ]:
#display information of gross sales in every city for 1st 3 months
#loc, accedd a group of rows based on positional index
# group_data.loc[3,:] means select a specific row based on 3 and all its columns
#why use []? In pandas, using [] to access elements form df, () for function calls
groupby_data.loc[1:3, : ]

In [ ]:
# Can query individual cities (Example: Atlanta)
groupby_data.loc[1:3,'Atlanta']

In [ ]:
#query each month sales for specific city
groupby_data.loc[:,'Boston']

# create a line chart to show how the sale change in each city for 12 months?

In [ ]:
# Get a list of cities
cities = df['City'].unique() #so there will be no duplicate
cities

In [ ]:
fig, ax = plt.subplots(figsize=(15, 8))

for city in cities:
    #Check if the city exists in the groupby_data index,
    #the get_level_values() method in Pandas is used to access the values of a specific level from a MultiIndex.
    if city in groupby_data.index.get_level_values('City'):
        
        #Get the city's 12 months of sales
        current_sales = groupby_data.xs(city, level='City')
        #The .xs() method is used to filter a specific level of a MultiIndex (in this case, City). 

        #Plot line plot for this city
        ax.plot(current_sales.index, current_sales.values, label=city)  # Month on x-axis, Sales on y-axis
    else:
        print(f"City '{city}' not found in groupby_data.")

plt.grid()
plt.legend()
plt.title("Sales by City Across 12 Months")
plt.xlabel("Month")
plt.ylabel("Sales")
plt.show()